/*
    @Auteur: DIONNE Clément
    @Date-de-création: 25/09/2023
    @Date-de-modification: 11/10/2023
    @Date-de-publication: 11/10/2023
    @Description: Feuille de style CSS pour l'interface graphique générale du site en mode sombre par défaut.
*/

/* Définition des polices personnalisées */
@font-face {
    font-family: Jost_Classic;
    src: local("Jost_Classic"), url('../Fonts/Jost-VariableFont_wght.ttf');
}

@font-face {
    font-family: Jost_Strong;
    src: local("Jost_Strong"), url('../Fonts/Jost-Black.ttf');
}

/* Arrière-plan du corps de page */
body {

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 2%;
}

/* Arrière-plan des zones de texte */
.textBox {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/* Styles pour les boutons d'en-tête, le centrage, l'alignement */
.buttonHeader {
    text-align: center;
}

/* Styles pour centrer certains éléments avec des div */
.centre {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles pour les paragraphes centrés dans .centre */
.centre p {
    text-align: left;
    margin: 1% 16%;
    font-size: 24px;
}

/* Styles pour la section de pied de page */
footer {
    width: 100%;
    background: linear-gradient(rgb(255, 255, 255) 100%) no-repeat;
    position: absolute;
    left: 0;
    text-align: center;
}

/* Styles pour les paragraphes pied de page */
footer p {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(75, 92, 107);
}

/* Styles pour les liens */
a {
    color: #0053ce;
}

/* Styles pour l'arrière-plan de la page */
html {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

/* Styles généraux pour les boutons */
.button {
    background-color: #5DADE2;
    color: rgb(228, 228, 228);
    text-align: center;
    font-size: 28px;
    font-family: Jost_Classic;
    margin: 15px 4%;
    border-radius: 50px;
    border: none;
    padding: 2px 30px;
    transition: 0.2s;
}

/* Styles pour les champs de saisie de texte */
input {
    color: rgb(33, 33, 33);
    background-color: rgb(198, 198, 198);
    text-align: center;
    font-size: 18px;
    font-family: Jost_Strong;
    margin: 15px 4%;
    border-radius: 50px;
    border: none;
    padding: 2px 30px;
    transition: 0.2s;
}

/* Styles pour le texte dans les boutons */
.button p {
    margin-left: 10%;
    margin-right: 10%;
}

/* Styles pour la position des boutons de "partage" */
.FollowsButtons {
    margin: 15px 15px;
}

/* Styles pour les états de survol des boutons */
.button:hover {
    background-color: #3498DB;
    color: rgb(20, 20, 20);
    transition: 0.2s;
}

/* Styles pour les états de clic des boutons */
.button:active {
    background-color: #5DADE2;
    color: rgb(228, 228, 228);
    transition: 0.1s;
}

/* Styles pour les barres de défilement personnalisées avec webkit-scrollbar */
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background-color: #959595;
}

html::-webkit-scrollbar-thumb {
    background: #C39BD3;
    border-radius: 10px;
}

/* Styles pour les paragraphes */
p {
    font-family: Jost_Classic;
    font-size: 20px;
    color: rgb(61, 61, 61);
    margin: 5px 5px 5px 8px;
    text-align: center;
}

/* Styles pour les titres de niveau 1 */
h1 {
    font-family: Jost_Classic;
    font-size: 50px;
    margin-left: 10%;
    color: rgb(61, 61, 61);
}

/* Styles pour l'alignement des titres de niveau 1 avec image */
h1 img {
    vertical-align: middle;
}

/* Styles pour les titres de niveau 2 */
h2 {
    font-family: Jost_Strong;
    font-size: 50px;
    text-align: center;
    color: #AF7AC5;
}

/* Styles pour les titres de niveau 3 et pour les balises <label> */
h3, label {
    font-family: Jost_Classic;
    font-size: 35px;
    text-align: center;
    color: #AF7AC5;
}

/* Styles pour les éléments de formulaire <fieldset> */
fieldset {
    font-family: Jost_Classic;
    border: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}